#userLogin{
  position:fixed;
  margin-left: 76%;
  height:38px;
  width: 24%;
  background-color: white;
  padding:2px;
}
#highsky2{
  margin-left:80%;
  height:100%;
  width: 20%;
  background-color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
