#episode{
    width:100vw;
    height: 100vh;
    display:inline-flex;
    align-items: center;
    flex-direction: column;
    background-color: teal;
    overflow: auto;
}
#epBio{
    display:flex;
    
}
#comment{
    height: 200px;
    width: 200px;
}